# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\gbLesson21-spring-context\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
