# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\gb-lesson11-reflectionAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
