# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GB-Lessons-NO-POST\gb-lesson30-spring-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
