# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\geekbrains.java.sources\gbLesson30-junit5-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
